<IfModule mod_rewrite.c>
    RewriteEngine on
    ErrorDocument 404 http://localhost/e-commerce-poo/errors/
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    
    RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2
</IfModule>

<IfModule mod_env.c>
    SetEnv DB_HOST localhost
    SetEnv DB_USER tu_usuario
    SetEnv DB_PASSWORD tu_contrasena
    SetEnv DB_NAME tienda_master
</IfModule>